<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Main</title>
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div>
        {{> header}}

        {{{body}}}

        {{> footer}}
    </div>
</body>

</html>